body {
	background: #DDD;
}
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
form p.end-link {
	margin-top: 20px;
	text-align: center;
}

.form-register {
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
}
.form-register input {
	margin-bottom: 10px;
}