header {
	background: #222;
}
header .titlebar {
	height: 100px;
}
header .titlebar .logo {
	height: 60px;
	width: 96px;
	position: absolute;
	top: 20px;
	text-align: center;
}
header .titlebar .logo img {
	max-height: 60px;
	max-width: 96px;
}
header .titlebar h1 {
	color: #DDD;
	font-family: 'Open Sans';
	margin-top: 30px;
	margin-left: 120px;
}
header .navbar {
	margin-bottom: 0;
}
header .navbar .container {
	padding-left: 0;
}
div.page-title h2 {
	color: #FFF;
}
footer {
	background-color: #666;
	background-color: rgba(0,0,0,0.7);
	color: #DDD;
	padding: 10px 0;
	border-top: rgba(0,0,0,0.1) solid;
	margin-top: 20px;
}
footer .container {
	margin-top: 8px;
}
footer .contact-details p {
	margin: 0;
	color: #FFF;
}
footer .container .pull-right a:visited,
footer .container .pull-right a {
	color: #DDD;
}
footer .container p.copyright {
	color: #999;
}
div.content {
	background: rgba(255,255,255,0.7);
	padding: 20px;
}
div.sidebar {
	background: rgba(255,255,255,0.5);
	padding: 20px;
}
#lnf-modal-toggle {
	position: absolute;
	top: -45px;
	right: 15px;
}
.loading {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9001;
	background: rgba(255,255,255,0.7);
}
.loading img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -16px;
	margin-top: -16px;
	z-index: 9002;
}
/* Lost and found styling */
#lost-and-found .lnf {
	margin: 0 20px;
	border: 1px solid black;
	max-height: 160px;
	position: relative;
	min-height: 160px;
}
.lnf .lnf-title {
	position: absolute;
	border-bottom: 1px solid black;
	left: 211px;
	right: 0;
	height: 30px;
}
.lnf .lnf-title p {
	font-size: 16px;
	font-weight: bold;
	margin: 5px 10px 0px 10px;
}
.lnf .lnf-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 211px;
	height: 160px;
	text-align: center;
	border-right: 1px solid black;
}
.lnf .lnf-image img {
	max-width: 211px;
	max-height: 158px;
}
.lnf .lnf-desc {
	position: absolute;
	left: 211px;
	top: 31px;
}
.lnf .lnf-desc .wrap {
	padding: 10px;
}
.lnf .lnf-desc .wrap .content {
	font-size: 13px;
}