header {
	background: #222;
}
header .titlebar {
	height: 100px;
}
header .titlebar .logo {
	height: 60px;
	width: 96px;
	position: absolute;
	top: 20px;
	text-align: center;
}
header .titlebar .logo img {
	max-height: 60px;
	max-width: 96px;
}
header .titlebar h1 {
	color: #DDD;
	font-family: 'Open Sans';
	margin-top: 30px;
	margin-left: 120px;
}
header .navbar {
	margin-bottom: 0;
}
header .navbar .container {
	padding-left: 0;
}
div.page-title h2 {
	color: #FFF;
}
footer {
	background-color: #666;
	background-color: rgba(0,0,0,0.7);
	color: #DDD;
	padding: 10px 0;
	border-top: rgba(0,0,0,0.1) solid;
	margin-top: 20px;
}
footer .container {
	margin-top: 8px;
}
footer .container .pull-right a:visited,
footer .container .pull-right a {
	color: #DDD;
}
div.content {
	background: rgba(255,255,255,0.7);
	padding: 20px;
}
div.sidebar {
	background: rgba(255,255,255,0.5);
	padding: 20px;
}
#lnf-modal-toggle {
	position: absolute;
	top: -45px;
	right: 15px;
}