body {
	padding-top: 50px;
}
header {
	height: 400px;
	background: #222;
	background-image: url('/core/images/header.png');
	background-repeat: no-repeat;
	background-position: 50%;
	position: relative;
}
header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
}
header h1 {
	text-align: center;
	margin-top: 150px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 80px;
	color: #FFF;
	position: relative;
	z-index: 1;
}
footer {
	background: #CCC;
	padding: 20px 0;
}
#faq_search {
	position: absolute;
	box-sizing: border-box;
	top: 350px;
	left: 50%;
	width: 400px;
	margin-left: -200px;
}
#content h1,
#content h2,
#content h3 {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.feature.row {
	margin: 0;
}
.feature:nth-child(odd) .feature-image {
	float: left;
	margin-right: 20px;
}
.feature:nth-child(even) .feature-image {
	float: right;
	margin-left: 20px;
}